* {
    font-family: 'Open Sans', sans-serif;
}

#heading, #input-row {
    background-color: #03A9F4;
}

#todolist {
    list-style: none;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
    margin-left: 0;
}

h1, h4 {
    color: #FFFFFF;
}

#todolist li .completed-true {
    color: #ccc;
    margin-left: 15px;
    text-decoration: line-through;
}

li.focus {
    background-color: #FF5722;
    color: #FFFFFF;
}

.button {
    margin-bottom: 0;
}